@font-face {
  font-family: 'NexaBold', sans-serif;
  src: url('..fonts/NexaBold.eot');
  src: url('..fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
       url('..fonts/NexaBold.woff2') format('woff2'),
       url('..fonts/NexaBold.woff') format('woff'),
       url('..fonts/NexaBold.ttf') format('truetype'),
       url('..fonts/NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaLight', sans-serif;
  src: url('..fonts/NexaLight.eot');
  src: url('..fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
       url('..fonts/NexaLight.woff2') format('woff2'),
       url('..fonts/NexaLight.woff') format('woff'),
       url('..fonts/NexaLight.ttf') format('truetype'),
       url('..fonts/NexaLight.svg#NexaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'bootstrap.scss';

header {
	padding: 54px 0 30px;
}
// Helper Classes
.font-bold {
	font-family: "Nexa Bold"
}
.font-light {
	font-family: "Nexa Light"
}
.font-helvetica-neue {
	font-family: $font-family-sans-serif;
	letter-spacing: 0;
}
.color-primary {
	color: $brand-primary;
}
.description {
	font-size: 18px;
}
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.section-alternate {
	background-color: #5dae87;
	color: #bfeed7;
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}
.list-style-none {
	list-style-type: none;
}
img {
	max-width: 100%;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .text-center-xs {
        text-align: center;
        margin-bottom: 10px;
    }
}
// Menu
.navbar-brand-logo {
	margin-top:-26px;
}
.btn-menu {
	background: transparent;
	line-height: 1;
	min-width: 0;
	min-height: 0;
	color: #5dae87!important;
	border-color: #5dae87;
	margin-left: 20px;
	padding: 11px 24.5px 8px !important;
	&:hover {
		color: darken(#5dae87, 10%)!important;
		border-color: darken(#5dae87, 10%)!important;
	} 
}
// Social Icons
.social-icon {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #e4e4e4;
	border-radius: 50%;
	text-align: center;
	margin-right: 5px;
	&:hover {
		background-color: $brand-primary;
	}
	&:last-child {
		margin-right: 0;
	}
}
// Form Inputs
input[type="text"], input[type="email"] {
	background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 28px 20px 25px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    &::-webkit-input-placeholder {
	   color: #fff;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: #fff;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: #fff;  
	}
	&:-ms-input-placeholder {  
	   color: #fff;  
	}
}
// Sections
.section {
	padding: 120px 0;
}
.section-inverse {
	background-color: #f9f9f9;
}
// Heading Section
.heading {
	background: #f1f6f4 url(../images/heading-bg@2x.png) no-repeat center top;
	background-size: cover;
	padding: 237.5px 0 289.5px;
	.description {
		color: #777;
	}
}
// Video Section
.video {
	padding-top: 150px;
}
// Service Section
.service-wrapper {
	background-color: #fff;
	padding: 48px 55px;
	a {
		color: #bbb;
	}
	&:hover {
		box-shadow: 0 0 40px 5px rgba(0,0,0,0.039);
		a {
			color: $brand-primary;
		}
	}
}
// Squares Section
.squares {
	color: #bfeed7;
	padding: 90px 0;
	h4 {
		color: #fff;
	}
	.squares-wrapper {
		padding: 75px 0;
	}
	> .container {
		> .row {
			> div {
				padding: 0 50px;
				border-bottom: 1px solid #7dbe9f;
				&:first-child {
					border-right: 1px solid #7dbe9f;
				}
			}
			&:last-child {
				> div {
					border-bottom: 0;
				}
			}
		}
	}
}
@media only screen and (max-width: 992px ){
	.squares {
		.squares-wrapper {
			padding: 25px 0;
		}
		> .container {
			> .row {
				> div {
					padding: 0 50px;
					border-bottom: 1px solid #7dbe9f;
					&:first-child {
						border-right: 0;
					}
				}
				&:last-child {
					> div {
						border-bottom: 1px solid #7dbe9f;
					}
				}
			}
		}
	}
}
// Check List
.check-list {
	list-style-type: none;
	list-style-image: url(../images/list-icon-17.png);
	line-height: 2;
}
// Team Section
.team {
	padding-bottom: 0;
	.team-wrapper {
		position: relative;
		background-color: #fff;
		padding: 48px 55px;
		margin-bottom: 120px;
		a {
			color: #bbb;
		}
		.team-member-image {
			position: absolute;
			top: -110px;
		    width: 100%;
		    left: 0;
			text-decoration: none;
			margin-bottom: 20px;
			img {
				-webkit-filter: grayscale(1);
			    -moz-filter: grayscale(1);
			    -ms-filter: grayscale(1);
			    filter: grayscale(1);
			}
		}
		&:hover {
			box-shadow: 0 0 40px 5px rgba(0,0,0,0.039);
			a {
				color: $brand-primary;
			}
			.team-member-image {
				img {
					-webkit-filter: grayscale(0);
				    -moz-filter: grayscale(0);
				    -ms-filter: grayscale(0);
				    filter: grayscale(0);
				}
			}
		}
	}
}
// Portfolio
.thumbnail-wrapper {
	.thumbnail {
		.thumbnail-hover {
			display: none;
		}
		&:hover {
			img {
				box-shadow: 0 0 40px 5px rgba(0,0,0,0.039);
			}
			.thumbnail-hover {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: #5dae87;
				opacity: 0.9;
			}
		}
	}
}
// Pricing
.pricing-wrapper {
	.plan {
		text-transform: uppercase;
		padding-left: 0;
		.plan-price {
			font-size: 86px;
			sup, sub {
				font-size: 21px;
			}
			sup {
				top: -2em;
				margin-right: 5px;
			}
			sub {
				margin-left: -5px;
				bottom: 0;
			}
		}
		.plan-name {
			font-size: 21px;
			margin-bottom: 30px;
		}
		.plan-detail {
			color: #bbb;
			margin-bottom: 15px;
		}
		.plan-cta {
			margin-top: 40px;
			a.btn-default {
				color: #777;
				border-color: #777;
			}
		}
	}
	&:hover {
		.plan {
			.plan-cta {
				a.btn-default {
					color: #fff;
					background-color: #5dae87;
					border-color: #5dae87;
				}
			}
		}
	}
}
// Footer
footer {
	background-color: #444;
	color: #fff;
	padding: 70px 0;
	.footer-logo {
		margin-top:-16px;
	}
	.footer-menu {
		padding-left: 0;
		margin-bottom: 0;
		li {
			display: inline-block;
			&:after {
				content: "|";
				margin: 0 20px;
				color: #bbb;
			}
			&:last-child {
				&:after {
					content: "";
				}
			}
		}
		a {
			color :#bbb;
		}
	}
	.social-icon {
		background-color: #363636;
	}
}